<?xml version="1.0" encoding="windows-1251" ?>
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="config.properties"/>

    <settings>
       <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="by.alekskvetko.rest.model"/>
    </typeAliases>

</configuration>
